
@{
    ViewBag.Title = "Create new Contact";
}

@using (Html.BeginForm("AddContact", "Contact", FormMethod.Post, new { @Id = "createContact" }))
{
    <div class="form-group">
        <label for="nickName">Contact Name</label>
        <input name="ContactName" type="text" class="form-control" id="nickName" placeholder="Nick name">
    </div>
    <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input name="EmailAddress" type="text" class="form-control" id="emailAddress" placeholder="Email Addres">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input name="PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="PhoneNumber">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    @Html.Partial("~/Views/AlertPartial.cshtml")
}

