@model PhoneBookApp.BusinessObjectLayer.Dtos.ContactDto
@{
    ViewBag.Title = "Edit Contact";
}
@using (Html.BeginForm("EditContact", "Contact", new { Id = Model.Id }, FormMethod.Post, new { @Id = "updateContact" }))
{
    <div class="form-group">
        <label for="nickName">Contact Name</label>
        <input name="ContactName" value="@Model.ContactName" type="text" class="form-control" id="nickName" placeholder="Nick name">
    </div>
    <div class="form-group">
        <label for="emailAddress">Email address</label>
        <input name="EmailAddress" value="@Model.EmailAddress" type="text" class="form-control" id="emailAddress" placeholder="Email Addres">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input name="PhoneNumber" type="text" value="@Model.PhoneNumber" class="form-control" id="phoneNumber" placeholder="PhoneNumber">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    @Html.Partial("~/Views/AlertPartial.cshtml")
}


