
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_AuthenticationLayout.cshtml";
}
<h2>Register user</h2>
@using (Html.BeginForm("RegisterUser", "User", FormMethod.Post, new { @Id = "registerUser" }))
{



    <div class="form-group">
        <label for="nickName">Nick Name</label>
        <input name="NickName" type="text" class="form-control" id="nickName" placeholder="Nick name">
    </div><div class="form-group">
        <label for="emailAddress">Email address - Username</label>
        <input name="EmailAddress" type="text" class="form-control" id="emailAddress" placeholder="Email Addres">
    </div><div class="form-group">
        <label for="password">Password</label>
        <input name="Password" type="password" class="form-control" id="password" placeholder="Password">
    </div><div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input name="ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    @Html.Partial("~/Views/AlertPartial.cshtml")
}
@*<form id="" asp-controller="" asp-action="" method="post">
    </form>*@

